@media screen and (max-width: 1200px){
    .header__nav ul {
        display: none;
        flex-direction: column;
        padding: 0;
    }

    .nav-toggle {
        display: block;
        background-color: #162028;
        border: none;
        font-size: 32px;
        color: #668ba7;
        cursor: pointer;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .header__nav a{
        width: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 1201px) {
    .nav-toggle {
        display: none; /* Esconder o botão em telas maiores */
    }
}

.header__nav ul.active {
    display: flex;
}

@media screen and (max-width: 600px){
    .profile {
        flex-direction: column;
        gap: 0;
    }

    .profile .imagem{
        margin: 45px 45px 0;
    }

    .profile .initial__p{
        margin: 0 45px 45px;
    }

    .main-article__objetivo .objetivo__p p{
        width: 100%;
        line-height: 32px;
        text-align: center;
    }

    .main-article__grau .grau__ul ul{
        width: 100%;
    }

    .main-article__cursos .cursos__ul ul{
        width: 100%;
        line-height: 32px;
        padding: 0;
    }

    .main-article__acoes .acoes__p p{
        width: 100%;
        text-align: center;
        line-height: 30px;
    }

    .main-article__acoes .acoes__p{
        padding: 0;
    }

    .a__portfolio{
        margin-top: 10px;
    }

    .npi{
        display: flex;
        justify-content: center;
    }

}
html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
}

.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    background-color:#162028;
}

.hero_title{
    margin-top: 45px;
    color: #668ba7;
    text-shadow: -3px 3px 0 rgba(0, 0, 0, .1), -5px 5px 0 rgba(0, 0, 0, .1), -7px 7px 0 rgba(0, 0, 0, .1), -9px 9px 0 rgba(0, 0, 0, .1);
}


.header__nav ul{
    text-align: center;
    margin-top: 20px;
}

.header__nav  li{
    list-style-type:  none;
    display: inline-block;
    margin-left: 6px;
}

.header__nav a{
    display: inline-block;
    color: #668ba7;;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 16px;
    border: 3px solid #425564;
    border-radius: 4px;
}

.header__nav a:hover{
    background-color: #395469;
    color: #091825;
    border: 3px solid #395469;
    border-radius: 4px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #71a3c9;
}

.profile img{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    margin:45px;
    transition: 0.5s;
}

.profile img:hover{
    transform: scale(1.1);
}

.profile p{
    justify-content: center;
    margin: 45px 45px;
    color: #162028;
    line-height: 32px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, .1), -3px 3px 0 rgba(0, 0, 0, .1), -5px 5px 0 rgba(0, 0, 0, .1), -7px 7px 0 rgba(0, 0, 0, .1);
}

.main-article__dados{
    background-color: #53758f;
    color: #162028;
    text-align: center;
    line-height: 32px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, .1), -3px 3px 0 rgba(0, 0, 0, .1), -5px 5px 0 rgba(0, 0, 0, .1), -7px 7px 0 rgba(0, 0, 0, .1);

}
article h2{
    margin-top: 35px;
    padding-top: 16px;
    text-align: center;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, .1), -3px 3px 0 rgba(0, 0, 0, .1), -5px 5px 0 rgba(0, 0, 0, .1), -7px 7px 0 rgba(0, 0, 0, .1);
}
.main-article__dados ul{
    list-style-type: none;
    padding: 0 16px 16px;
}

.main-article__dados ul li img{
    margin-left: 5px;
    transition: 0.3s;
    padding-bottom: 16px;
}

.main-article__dados ul li img:hover{
    transform: scale(1.1);
}

.main-article__objetivo{
    background-color: #395469;
    color: #162028;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, .1), -2px 2px 0 rgba(0, 0, 0, .1), -3px 3px 0 rgba(0, 0, 0, .1), -5px 5px 0 rgba(0, 0, 0, .1);
}

.objetivo__p{
    display: flex;
    justify-content: center;
    line-height: 32px;
    text-align: center;
}
.main-article__objetivo p{
    padding: 0 32px 16px;
    width: 50%;
    margin: 0;
}

.main-article__grau{
    background-color: #71a3c9;
    color: #162028;
}

.grau__ul{
    display: flex;
    justify-content: center;
    line-height: 32px;
    text-align: center;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, .1), -2px 2px 0 rgba(0, 0, 0, .1), -3px 3px 0 rgba(0, 0, 0, .1), -4px 4px 0 rgba(0, 0, 0, .1);
}

.main-article__grau ul{
    text-align: center;
    list-style-type: none;
    padding: 0 16px 16px;
    width: 50%;
    margin: 0;
}

.main-article__grau li a{
    text-decoration: none;
    color: #162028;
    display: inline-block;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 3px solid #425564;
    padding: 0 10px;
    text-shadow: none;
    border-radius: 5px;
    transition: 0.3s;
}

.main-article__grau li a:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, .3);
}

.main-article__cursos{
    background-color: #53758f;
}

.cursos__ul{
    display: flex;
    justify-content: center;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, .1), -2px 2px 0 rgba(0, 0, 0, .1), -3px 3px 0 rgba(0, 0, 0, .1), -4px 4px 0 rgba(0, 0, 0, .1);
    padding: 0 16px 16px;
}
.cursos__ul ul{
    margin: 0;
    padding: 0;
}
.main-article__cursos ul{
    list-style-type: none;
    text-align: center;
    line-height: 32px;
    width: 50%;
    
}

.main-article__cursos li a{
    text-decoration: none;
    color: #162028;
    display: inline-block;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 3px solid #425564;
    padding: 0 10px;
    text-shadow: none;
    border-radius: 5px;
    transition: 0.3s;
}

.main-article__cursos li a:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, .3);
}

.main-article__acoes{
    background-color: #668ba7;
}

.acoes__p p{
    margin-top: 0;
}
.acoes__p{
    margin-left:45px;
    margin-right: 45px;
    padding: 16px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, .1), -2px 2px 0 rgba(0, 0, 0, .1), -3px 3px 0 rgba(0, 0, 0, .1), -4px 4px 0 rgba(0, 0, 0, .1);
    line-height: 30px;
    text-align: justify;
    
}
.a__npi{
    margin-bottom: 25px;
}
.main-article__acoes a{
    text-decoration: none;
    color: #162028;
    display: inline-block;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 3px solid #425564;
    padding: 0 10px;
    text-shadow: none;
    border-radius: 5px;
    transition: 0.3s;
}

.main-article__acoes a:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, .3);
    margin-left: 8px;
}

footer{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #162028;
}
footer p{
    margin: 0;
    color: #395469;
}








